{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *    `
 * @ingroup templates
 *
 * Define a custom macro that will render all menu trees.
 */
#}

{% macro menu_links(items, attributes, menu_level, classes) %}
    {% if items %}
        {% set base_url = path('<front>') %}

		<section class="summerFestNav">
		    <div class="container example2">
			  	<nav class="navbar navbar-default">
			      <div class="navbar-header">
			        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2">
			          <span class="sr-only">Toggle navigation</span>
			          <span class="icon-bar"></span>
			          <span class="icon-bar"></span>
			          <span class="icon-bar"></span>
			        </button>
			        <a class="navbar-brand" href="/"><img src="{{ base_url }}themes/custom/nexus/assets/images/NIIT_logomobile.png" class="img-responsive"></a>
			      </div>
			      <div id="navbar2" class="navbar-collapse collapse">
			        <ul class="nav navbar-nav navbar-right">
			          {% for stage1Nav in items %}
				            <li>{{ link(stage1Nav.title, stage1Nav.url) }}</li>
				      {% endfor %}
			        </ul>
			      </div>
			  	</nav>
			</div>
		</section>   
		       

    {% endif %}
{% endmacro %}

{#
	Invoke the custom macro defined above. If classes were provided, use them.
	This allows the template to be extended without having to also duplicate the
	code above. @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
    {{ _self.menu_links(items, attributes, 0, classes ? classes : ['', '' ~ menu_name|clean_class, '']) }}
