
<section class="main_nav mobile-hide">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="nav_left_block">
          <ul class="list-unstyled">
            <li><a href="{{ path('<front>') }}"><img src="/india/themes/custom/nexus/assets/images/logo_1.png" class="img-responsive" alt="logo"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>




