<div class="homepagelead-ldformss">
   <form class="homepagemultistepformformid" id="homepagemultistepformformidnew">
      <style>.news-letter-show-form{display: block;} .news-letter-hide-form{display: none;}</style>
      <div class="open_leadForm open_leadForm_mobile" id="first-form">
         <div class="form-page">
            <h4>Find the right career path</h4>
            <p class="ErrorClassmobile"></p>
            <div class="form_grp_inputs whatsappform">
               <div>
                  <input placeholder="Enter your mobile number" class="form-control mr-4 enqry_crsspndnc_mbl form-number" type="number" id="edit-enqry-crsspndnc-mbl" name="enqry_crsspndnc_mbl_new" value="" step="1">
               </div>
               <input class="btn btn-main btn-default form-control register_otp_check_hp_new button button--primary js-form-submit form-submit" type="submit" id="edit-register-otp-check" name="op" value="Go">
               <div class="whatsappcheck">
                  <span class="suffix-privacy mt-1 pl-2">I agree to receive updates on <img alt="whatsapp" src="/india/themes/custom/nexus/assets/images/WhatsApp_icon1.png"> WhatsApp</span>
                  <div>
                     <input class="form-control-radio-check form-checkbox" type="checkbox" id="edit-enqry-whatsapp-checkbox" name="enqry_whatsapp_checkbox" value="1" checked="checked">
                  </div>
               </div>
            </div>
         </div>
         <p class="form_privayText">By proceeding further you agree to our <a href="https://privacy.niit.com/prospective_customer.html" target="_blank">Privacy Policy</a></p>
      </div>
      <div class="open_leadForm open_leadForm_otp homepageformhide" id="second-form">
         <div class="form-page">
            <h4>Verify your number</h4>
            <h5 class="edit_mobNum"></h5>
            <p class="otp_verification_hp"></p>
            <div class="form_grp_inputs">
               <div>
                  <input placeholder="Enter OTP" class="form-control registerotp-val form-number" type="number" id="edit-user-otp-new" name="user_otp_new" value="" step="1">
               </div>
               <input class="btn btn-default edit_homepage_number button button--primary js-form-submit form-submit" type="submit" id="edit-previous-btn" name="op" value="Change Number">
               <input class="btn btn-main btn-default form-control verify-register-otp-hp button button--primary js-form-submit form-submit" type="submit" id="edit-submit" name="op" value="Verify">
            </div>
            <ul class="list-unstyled form_resend_otp">
               <li data-nav="prev" class="register_otp_check_hp">Resend OTP</li>
            </ul>
         </div>
      </div>
      <div class="open_leadForm open_leadForm_name homepageformhide" id="third-form">
         <div class="form-page">
            <h4>Now tell us about yourself</h4>
            <h5 class="edit_mobNum Changnumbrcls"></h5>
            <p class="ErrorClassname"></p>
            <p class="ErrorClassemail"></p>
            <div>
               <input placeholder="Your Name" class="form-control mr-4 form-text" type="text" id="edit-enqry-f-nm" name="enqry_f_nm_new" onkeydown="return /[a-z]/i.test(event.key)" value="" size="60" maxlength="128">
            </div>
            <div>
               <input placeholder="Your Email" class="form-control mr-4 form-email" type="email" id="edit-enqry-crsspndnc-eml" name="enqry_crsspndnc_eml_new" value="" size="60" maxlength="254">
            </div>
            <div class="col-md-12"><input data-drupal-selector="edit-prfrd-cntr" type="hidden" name="prfrd_cntr" value="ST001"></div>
            <div class="col-md-12 text-right pr-0"><input class="btn btn-main btn-main-hpg btn-main-hpg-nwjs button button--primary js-form-submit form-submit" type="submit" id="edit-submit" name="op" value="Next"></div>
            <div class="loader-div-third"></div>
            <p class="name_email_msag">We do not share your private information</p>
         </div>
      </div>
      <div class="open_leadForm open_leadForm_name homepageformhide fourth-form-class-nw" id="fourth-form">
         <div class="form-page">
            <h4 class="fouthstepname"></h4>
            <p class="whtprgrmclr">What program interests you?</p>
            <p class="fourthsteperror"></p>
            <div>
               <select placeholder="Your Course" class="form-control mr-4 form-select" id="edit-user-course-new" name="user_course_new">
                  <option value="" selected="selected">Which Course are you Interested in?</option>
                  <option value="POS51&amp;&amp;ST001&amp;&amp;3093">Product and Software Engineering (Job Assured*)</option>
                  <option value="D123F&amp;&amp;ST001&amp;&amp;3104">Data Science/Machine Learning (Job Assured*)</option>
                  <option value="VSRMP&amp;&amp;AX001&amp;&amp;3533">Banking Career with Axis Bank (Job Assured*)</option>
                  <option value="CPIBR&amp;&amp;11961&amp;&amp;4149">Banking Career with ICICI Bank (Job Assured*)</option>
                  <option value="FSDMP&amp;&amp;ST001&amp;&amp;4146">Digital Marketing (Job Assured*)</option>
                  <option value="PGPCC&amp;&amp;ST001&amp;&amp;4143">Cloud Computing (Job Assured*)</option>
                  <option value="PGPCS&amp;&amp;ST001&amp;&amp;4144">Cyber Security (Job Assured*)</option>
                  <option value="PGPAG&amp;&amp;11961&amp;&amp;4147">Accounting and Finance (Job Assistance)</option>
               </select>
            </div>
            <div class="col-md-12 text-right pr-0"><input class="btn btn-main btn-main-hpg btn-main-hpg-course btn-main-hpg-course-nwjs button button--primary js-form-submit form-submit" type="submit" id="edit-submit" name="op" value="Done"></div>
            <div class="loader-div-fourth"></div>
         </div>
      </div>
      <div class="open_leadForm open_leadForm_name homepageformhide" id="fifth-form">
         <div class="form-page">
            <h4 class="mb-0 pb-0 fifth_step_name"></h4>
            <h5 class="fifth_step_coursename"></h5>
            <ul class="list-unstyled form_lists">
               <li class="fifth-form-first-li">
                  <img src="/india/themes/custom/nexus/assets/images/list1.png" class="img-responsive">
                  <h5 class="fifth-form-first-li-h5"></h5>
                  <span data-toggle="tooltip" title="T&amp;C apply. Refer to program page"><i class="fa fa-info-circle"></i></span>
               </li>
               <li class="fifth-form-second-li">
                  <img src="/india/themes/custom/nexus/assets/images/list1.png" class="img-responsive">
                  <h5 class="fifth-form-second-li-h5"></h5>
               </li>
               <li class="fifth-form-third-li">
                  <img src="/india/themes/custom/nexus/assets/images/list1.png" class="img-responsive">
                  <h5 class="fifth-form-third-li-h5"></h5>
               </li>
               <div class="col-md-12"><input type="hidden" name="prfrd_cntr" value="ST001"></div>
            </ul>
            <div class="fifth-form-href">
               <a href="" class="btn btn-main btn-default form-control btn-explr-yroptn"> Explore the Program <i class="fa fa-angle-right pl-3"></i></a>
            </div>
         </div>
      </div>
      <input autocomplete="off" type="hidden" name="form_build_id" value="form-wCxQDXz3OV-xt6OFQAhu4ksUTgWpeYgCEzhdeHXhtIA">
      <input data-drupal-selector="edit-homepagemultistepformformid-wv5pq1ryzvw" type="hidden" name="form_id" value="HomePageMultistepFormFormId">
   </form>
</div>