<section class="header-container" style="padding: 10px 0px;">
	<div class="container">
		<div class="row">
			<div class="headerSection col-md-12">
				<div class="logo">
					<a href="/">
						<img data-src="/india/themes/custom/nexus/assets/images/NIIT_logomobile.png" alt="NIIT" title="NIIT" class="scale hide600 js-lazyload-image" src="/india/sites/default/files/transparentimg.jpg">
						<img data-src="/india/themes/custom/nexus/assets/images/NIIT_logomobile.png" alt="NIIT" title="NIIT" class="scale show600 js-lazyload-image" src="/india/sites/default/files/transparentimg.jpg">
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="renniiteContainer" style="background: #4d4d4d; height: 100vh; position:relative;">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 renniiteSection">				
					<img data-src="{{ imageBroadcast }}" class="img-responsive js-lazyload-image" src="/india/sites/default/files/transparentimg.jpg">
					<div class="centered">
					<iframe src="{{ youtubeLink }}?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</section>