<li>
    <div class="img"><img src="{{ content.field_faculty_image[0] }}"
            class="scale"></div>
    <div class="caption">
        <h3>{{ content.field_faculty_name[0]['#context']['value'] }}</h3>
        <p>{{ content.field_faculty_qualification[0]['#context']['value'] }}
            <span>{{ content
                .field_facutly_course_category }}</span>
        </p>
    </div>
</li>
