<li>
    <div class="img"><img src="{{ content.field_alumnis_image[0] }}"
            class="scale"></div>
    <div class="caption">
        <h3>{{ content.field_alumnis_name[0]['#context']['value'] }}</h3>
        <p>{{ content.field_alumnis_designation[0]['#context']['value'] }}
            <span>{{ content
                .field_alumnis_company_name[0]['#context']['value'] }}</span>
        </p>
    </div>
</li>
