    <div class="alumni_faculty_new">
	    <div>
		    <div class="photogallery">
			    <div class="imgStarAlumni2">
			    
			    <img src="{{ fields.field_faculty_image.content }}"></div>
			    <h3> {{ fields.field_faculty_name.content }} </h3>
			    
			    <p>{{ fields.field_faculty_qualification.content }}</p>
		    </div>
	    </div> 

    </div>
    
   