<div class="accordionButton">{{ fields.title.content }}</div>
<div class="accordionContent">
    <div class="faq-contant">
    	<h3> {{ fields.field_career_job_country.content }} </h3>
        {{ fields.body.content }}

    </div>
</div> 