
<div class="col-xs-12">
<div class="cat-item">
<div class="img"><img src="{{ fields.field_image.content }}" alt="img"></div>
<div class="overlay"><div class="head">{{ fields.title.content }}</div>
    <div class="info finance">
        <div class="detailsinfo">
            <h3>{{ fields.title.content }} <div >&nbsp;</div> <span></span></h3> 
        </div>
    </div>
</div>
</div>
</div>
