<section class="header-container hidedefaulthdrftrnw" style="padding: 10px 0px;">
   <div class="container">
      <div class="row">
         <div class="headerSection col-md-6">
            <div class="logo"> <a href="/"> <img src="/india/themes/custom/nexus/assets/images/NIIT_logomobile.png" alt="NIIT" title="NIIT" class="scale hide600"> <img src="/india/themes/custom/nexus/assets/images/NIIT_logomobile.png" alt="NIIT" title="NIIT" class="scale show600"> </a></div>
         </div>
      </div>
   </div>
</section>


<section class="">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
{{ tncDataArray|raw }}
</div>
</div>
</div>
</section>

<footer>
   <section class="container">
      <div class="row landing-page-footer">
         <div class="col-xs-12 col-lg-12">
            <div class="row">
               <div class="col-md-12">
                  <div class="footercopy mb-5">
                     <div id="block-copyright-3">
                        <p>Copyright © NIIT 2020. All Rights Reserved.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</footer>
