<div class="headding text-center">
    <h2>{{ content.field_alumni_faculti_label[0]['#context']['value'] }}</h2>
    <span></span>
</div>
<ul class="star_alumni_slider">
    {{ content.field_star_alumni_reference }}
</ul>
