<!--allumni connect and need help -->
<section class="anumni_connect homeblue_wrap">
    <div class="container">
        <div class="row">
            <div class="notsure-wrap">
                {{ content.field_connect_help }}
            </div>
        </div>
    </div>
</section>
<!--allumni connect and need help -->
