<section class="star_alumni_and_faculty">
    <div class="container">
        <div class="">
            <div class="col-md-6 col-xs-12 col-sm-6 star_alumni">
                {{ content.field_star_alumni_slider }}
            </div>
            <div class="col-md-6 col-xs-12 col-sm-6 star_faculty">
                {{ content.field_star_faculty_slider }}
            </div>
        </div>
    </div>
</section>
