<!-- mentors advice -->
<section class="mentors_advice sliderinner-wrap">
    <div class="container">
        <div class="headding head50 text-center">
            <h2>{{ content.field_mentor_advice_label }}</h2>
            <span class="underline"></span></div>
        <div class="mentor_wrap">
            <div class="col-md-5 left_section">
                {{ content.field_expert_mentor }}
            </div>
            <div class="col-md-7 right_section">
                <div class="row arrowslick mentors">
                    {{ content.field_mentor_advice }}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end mentors advice -->

