<!-- testimonials parents students -->
<section class="sliderinner-wrap sliderinnerbg testimonial_parent_stu">
    <div class="container">
        <div class="headding text-center">
            <h2>testimonials of parents & students</h2>
            <span class="underline"></span></div>
        <div class="achieve">
            <div class="knowledge">
                <div class="col-xs-12 col-sm-4">
                    <div class="achieve-box">
                        <div class="img-box square video"><img
                                src="assets/images/testimonial_parent_student01.jpg"
                                class="scale" alt="img">
                            <div class="overlay videoo">
                                <div class="head">
                                    <p>Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit.</p>
                                </div>
                                <a class="play" href="javascript:void(0)"
                                    data-toggle="modal"
                                    data-target="#testimonial_vid1"><i
                                        class="far fa-play-circle"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="achieve-box">
                        <div class="img-box square video"><img
                                src="assets/images/testimonial_parent_student02.jpg"
                                class="scale" alt="img">
                            <div class="overlay videoo">
                                <div class="head">
                                    <p>Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit.</p>
                                </div>
                                <a class="play" href="javascript:void(0)"
                                    data-toggle="modal"
                                    data-target="#testimonial_vid2"><i
                                        class="far fa-play-circle"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="achieve-box">
                        <div class="img-box square video"><img
                                src="assets/images/testimonial_parent_student03.jpg"
                                class="scale" alt="img">
                            <div class="overlay videoo">
                                <div class="head">
                                    <p>Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit.</p>
                                </div>
                                <a class="play" href="javascript:void(0)"
                                    data-toggle="modal"
                                    data-target="#testimonial_vid3"><i
                                        class="far fa-play-circle"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end testimonials parents students -->
