<div class="col-sm-6">
    <div class="mentor_box">
        <figure><img src="{{ content.field_mentor_image[0] }}" /></figure>
        <div class="mentor_box_content">
            <h4>{{ content.field_mentor_tile }}</h4>
            <p> {{ content.field_mentor_text }}
                
            </p>
			{#<!--<p>
                <a class="morebtn" href="/india/node/{{ node.id }}" tabindex="0">Read
                    More</a>
            </p>-->#}
        </div>
    </div>
</div>
